body {
margin: 0;
}
.drawer-nav {
  background-color: rgba(5, 5, 5, 0.6) !important;
}
.drawer-menu a{
  color:rgba(246, 244, 250, 0.84) !important;
}
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: rgba(246, 244, 250, 0.84) !important;
}
.drawer-open .drawer-hamburger-icon {
    background-color: transparent !important;
}
.top {
  background-image: url(https://github.com/yuzu43025/backpack-lp/blob/master/top-image-bp0708.jpg?raw=true);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.top__text {
  text-align: center;
  color: white;
}
.top__subtext{
  font-size: larger;
margin-top: 1rem;
}

.top__text_opacity {
  opacity: 0.7;
  margin: 0 auto;
  padding-top: 18%;
  font-size: 5rem;
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem 0;
  text-align: center;
}
.textbox {
  flex: 1;
  padding: 20px;
  font-weight: bolder;
}
.imgbox {
  flex: 1;
}
.imgbox img {
  width: 100vw;
  height: 450px;
  max-width: 450px;
  object-fit: cover;
}
.imgbox_fadein {
  opacity : 0;
    transform: translateY(20px);
    transition: 1s;
}
.textbox h2{
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  font-weight: bold;
}
.textbox h2:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: white;
  border-radius: 2px;
}
.item {
  background-color:rgba(166, 164, 167, 0.72);
  flex-wrap: wrap;
}
.point {
  background-color: rgb(7, 3, 57);
  color: white;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
}
.flex__list{
  justify-content: space-around;
  flex-wrap: wrap;
}
.list__icon img {
  width: 10rem;
}
.contact{
  text-align: center;
  border-top: solid 1px;
}
.contact h2 {
  margin: 2rem;
}
@media (min-width:1000px){
  .item__txt {
    margin-right: 10rem;
  }
  .point__txt {
    margin-left: 8rem;
  }
}
@media (max-width:320px){
  .imgbox img {
    width: 100vw;
}
  .textbox h2{
    font-size: 1.3rem;
  }
  .contact h2 {
    margin: 1rem;
    font-size: 1.3rem;
}
}
